body {
    font-family: "outfit";
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    color: #f5f5f5;
    
}
header {
    background-color: #01574D;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    border-radius: 14px;
}
.editar{
    text-align: right;
    color: black;
    font-weight: bolder;
    font-size: larger;
}
.data{
    color: black;
    word-spacing: 60    0px;
    font-weight: normal;
}

.campanhas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.campanha{
    background-color: #38B55F;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    padding-bottom: 15px;

}

.campanha h2 {
    margin-top: 0;
}

.status {
    font-weight: bold;
}

.active .status {
    color: rgb(0, 255, 0);
}

.status {
    color: rgb(128, 128, 128);
}

.status2 {
    color: rgb(255, 0, 0);
}

.desc{
    position:relative;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    width: 384px;
    height: 32px;
    color: black;
    margin-top: -40px;
    bottom: 20px;
}

.desc p{
    display: inline-block;
    text-align: center;
    margin-top: -3px;
}

.dataa{
    position: relative;
    color: black;
    left: 83%;
}

.desc-p-2{
    position: relative;
    bottom: 20px;
    color: black;
}