body {
    background: #006639;
    font-family: "Outfit", sans-serif;
    background-image: url('../img/backgorund-body.svg');
}

h1 {
    color: white;
    text-align: center;
}

hr {
    width: 40%;
    height: 15px;
    border-radius: 90px;
    background: #006639;
    border: transparent;
}

form {
    margin-left: 3%;
}

input[type="text"]{
    width:70vh;
    border-radius: 60px;
    border: transparent;
    background: #d2d1d1;
    padding: 15px;
}
input[type="number"]{
    width: 70vh;
    border-radius: 60px;
    border: transparent;
    background: #d2d1d1;
    padding: 15px;
}
input[type="date"]{
    width: 70vh;
    border-radius: 60px;
    border: transparent;
    background: #d2d1d1;
    padding: 15px;
}

select {
    width: 72vh;
    border-radius: 60px;
    border: transparent;
    background: #d2d1d1;
    padding: 15px;
}

#main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
}
.container {
    width: 90%;
    height: 85%;
    margin-top: 5%;
    border-radius: 70px;
    background: white;
}

.creation {
    display: flex;
    margin-top: 4%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    margin-right: 5%;
}

.button {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    background-color: #006639;
    border-radius: 18px;
    padding: 10px 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 4%;
    transform: scale(2.6);
    margin-top: 6%;
}

.text-container h3, .text-container p {
    margin: 0;
}
.text-container p{
    width: 70vh;
    border-radius: 60px;
    border: transparent;
    background: #d2d1d1;
    padding: 15px;
    margin-top: 15px;
}
#enviar {
    display: inline-block;
    margin-left: 10px;
    color: white;
    background-color: #006639;
    border-radius: 18px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#enviar:hover {
    background-color: #004d31;
    transform: scale(1.05);
}

#enviar:focus {
    outline: none;
}

#enviar:active {
    background-color: #003822;
    transform: scale(0.95); 
}

.button {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    background-color: #006639;
    border-radius: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #004d31;
    transform: scale(1.05);
}
.label-oculto {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.foto-fundo{
    height: 60%;
    width: 40%;
    margin-left: 15%;
    margin-top: -5%;
}